@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
    --font_mini_12px: 13px;
    --font_regular_16px: 16px;
    --font_medium_18px: 18px;
    --font_large_20px: 20px;
    --font_max_24px: 24px;
    --color_blue: #00a0e9;
    --color_5per: #0d0d0d;
    --color_10per: #1a1a1a;
    --color_20per: #333;
    --color_40per: #666;
    --color_60per: #999;
    --color_80per: #ccc;    
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--color_5per);
    color: #fff;
}

body {
}

a {
    color: inherit;
    text-decoration: none;
}

p{
    font-size: 13px;
}


li {
    list-style: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
